.container{
    /* width: auto; */
    height:auto;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(12, auto);
    /* grid-template-columns: 50px 50px 50px 50px; */
    /* grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"; */
}
.item1{
    /* grid-area: header; */
}
.item2{
    /* grid-area: main; */
}
.item3{
    /* grid-area: sidebar; */
}
.item4{
    /* grid-area: footer; */
}